### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate the count of players
total_count = len(purchase_data["SN"].unique())

# Display the total number of players
player_count = pd.DataFrame({"Total Players": [total_count]})
player_count.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate the number of unique items, average price, etc.
unique_items = purchase_data["Item ID"].unique()
average_price = purchase_data["Price"].sum() / purchase_data['Price'].count()
total_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()

# Create the summary data frame
purchasing_analysis_total = pd.DataFrame({"Number of Unique Items": [len(unique_items)], 
                                          "Average Price": [average_price],
                                          "Number of Purchases": [total_purchases],
                                          "Total Revenue": [total_revenue]})

# Clean up the formatting of the summary data frame
purchasing_analysis_total.style.format({"Average Price": "${:.2f}",
                                        "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Calculate the count of players
male_count = len(purchase_data["SN"][purchase_data["Gender"] == "Male"].unique())
female_count = len(purchase_data["SN"][purchase_data["Gender"] == "Female"].unique())
other_count = total_count - (male_count + female_count)

# Calculate the percentage of players
male_percent = (male_count / total_count) * 100
female_percent = (female_count / total_count) * 100
other_percent = (other_count / total_count) * 100

# Create the summary data frame
gender_demographics = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                    "Total Count": [male_count, female_count, other_count],
                                    "Percentage of Players": [male_percent, female_percent, other_percent]})

# Clean up the formatting of the summary data frame
gender_demographics.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate the purchase count, average purchase price, etc. for male players
male_purchases = purchase_data["Price"][purchase_data["Gender"] == "Male"].count()
male_average_price = purchase_data["Price"][purchase_data["Gender"] == "Male"].mean()
male_revenue = purchase_data["Price"][purchase_data["Gender"] == "Male"].sum()
male_average_revenue = male_revenue / male_count

# Calculate the purchase count, average purchase price, etc. for female players
female_purchases = purchase_data["Price"][purchase_data["Gender"] == "Female"].count()
female_average_price = purchase_data["Price"][purchase_data["Gender"] == "Female"].mean()
female_revenue = purchase_data["Price"][purchase_data["Gender"] == "Female"].sum()
female_average_revenue = female_revenue / female_count

# Calculate the purchase count, average purchase price, etc. for other players
other_purchases = total_purchases - (male_purchases + female_purchases)
other_average_price = purchase_data["Price"][purchase_data["Gender"] == "Other / Non-Disclosed"].mean()
other_revenue = purchase_data["Price"][purchase_data["Gender"] == "Other / Non-Disclosed"].sum()
other_average_revenue = other_revenue / other_count

# Create the summary data frame
purchasing_analysis_gender = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                           "Purchase Count": [male_purchases, female_purchases, other_purchases],
                                           "Average Purchase Price": [male_average_price, female_average_price, other_average_price],
                                           "Total Purchase Value": [male_revenue, female_revenue, other_revenue],
                                           "Average Total Purchase per Person": [male_average_revenue, female_average_revenue, other_average_revenue]})

# Clean up the formatting of the summary data frame
purchasing_analysis_gender.style.format({"Average Purchase Price": "${:.2f}",
                                         "Total Purchase Value": "${:.2f}",
                                         "Average Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Categorize the ages
under_ten = purchase_data[purchase_data["Age"] < 10]
early_teens = purchase_data[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14)]
late_teens = purchase_data[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19)]
early_twenties = purchase_data[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24)]
late_twenties = purchase_data[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29)]
early_thirties = purchase_data[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34)]
late_thirties = purchase_data[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39)]
forty_plus = purchase_data[(purchase_data["Age"] >= 40)]

# Create the summary data frame
age_demographics = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                                 "Total Count": [len(under_ten["SN"].unique()), len(early_teens["SN"].unique()), len(late_teens["SN"].unique()), len(early_twenties["SN"].unique()), len(late_twenties["SN"].unique()), len(early_thirties["SN"].unique()), len(late_thirties["SN"].unique()), len(forty_plus["SN"].unique())],
                                 "Percentage of Players": [len(under_ten["SN"].unique()) / total_count * 100, len(early_teens["SN"].unique()) / total_count * 100, len(late_teens["SN"].unique()) / total_count * 100, len(early_twenties["SN"].unique()) / total_count * 100, len(late_twenties["SN"].unique()) / total_count * 100, len(early_thirties["SN"].unique()) / total_count * 100, len(late_thirties["SN"].unique()) / total_count * 100, len(forty_plus["SN"].unique()) / total_count * 100]})

# Clean up the formatting of the summary data frame
age_demographics.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create the summary data frame
purchasing_analysis_age = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                                        "Purchase Count": [under_ten["Price"].count(), early_teens["Price"].count(), late_teens["Price"].count(), early_twenties["Price"].count(), late_twenties["Price"].count(), early_thirties["Price"].count(), late_thirties["Price"].count(), forty_plus["Price"].count()],
                                        "Average Purchase Price": [under_ten["Price"].mean(), early_teens["Price"].mean(), late_teens["Price"].mean(), early_twenties["Price"].mean(), late_twenties["Price"].mean(), early_thirties["Price"].mean(), late_thirties["Price"].mean(), forty_plus["Price"].mean()],
                                        "Total Purchase Value": [under_ten["Price"].sum(), early_teens["Price"].sum(), late_teens["Price"].sum(), early_twenties["Price"].sum(), late_twenties["Price"].sum(), early_thirties["Price"].sum(), late_thirties["Price"].sum(), forty_plus["Price"].sum()],
                                        "Average Total Purchase per Person": [under_ten["Price"].sum() / len(under_ten["SN"].unique()), early_teens["Price"].sum() / len(early_teens["SN"].unique()), late_teens["Price"].sum() / len(late_teens["SN"].unique()), early_twenties["Price"].sum() / len(early_twenties["SN"].unique()), late_twenties["Price"].sum() / len(late_twenties["SN"].unique()), early_thirties["Price"].sum() / len(early_thirties["SN"].unique()), late_thirties["Price"].sum() / len(late_thirties["SN"].unique()), forty_plus["Price"].sum() / len(forty_plus["SN"].unique())]})

# Clean up the formatting of the summary data frame
purchasing_analysis_age.style.format({"Average Purchase Price": "${:.2f}",
                                      "Total Purchase Value": "${:.2f}",
                                      "Average Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Create data frames to hold the purchasing data for each player
player_purchases = pd.DataFrame(purchase_data.groupby("SN")["Price"].count())
player_average_price = pd.DataFrame(purchase_data.groupby("SN")["Price"].mean())
player_revenue = pd.DataFrame(purchase_data.groupby("SN")["Price"].sum())

# Merge the data frames
purchasing_analysis_player = pd.merge(player_purchases, player_average_price, left_index = True, right_index = True).merge(player_revenue, left_index = True, right_index = True)

# Rename the column headers
purchasing_analysis_player.rename(columns = {"Price_x": "Purchase Count",
                                             "Price_y": "Average Purchase Price",
                                             "Price": "Total Purchase Value"}, inplace = True)

# Sort the merged data frame from greatest to lowest total purchase value
purchasing_analysis_player.sort_values('Total Purchase Value', ascending = False, inplace = True)

# Identify the top spenders to create the summary data frame
top_spenders = purchasing_analysis_player.head()

# Clean up the formatting of the summary data frame
top_spenders.style.format({"Average Purchase Price": "${:.2f}",
                           "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Create data frames to hold the purchasing data for each item
item_purchases = pd.DataFrame(purchase_data.groupby("Item ID")["Item ID"].count())
item_revenue = pd.DataFrame(purchase_data.groupby("Item ID")["Price"].sum())
item_count = purchase_data.drop_duplicates(["Item ID"], keep = "last")

# Sort the purchases data frame from greatest to lowest purchase count
item_purchases.sort_values("Item ID", ascending = False, inplace = True)

# Merge the data frames to create the summary data frame
item_purchases = pd.merge(item_purchases, item_revenue, left_index = True, right_index = True)
financial_analysis_items = pd.merge(item_purchases, item_count, left_index = True, right_on = "Item ID")

# Rename the column headers
financial_analysis_items.rename(columns = {"Item ID_x": "Purchase Count",
                                           "Price_y": "Item Price",
                                           "Price_x": "Total Purchase Value"}, inplace = True)

# Remove the unnecessary columns
financial_analysis_items = financial_analysis_items[["Item ID",
                                                     "Item Name",
                                                     "Purchase Count",
                                                     "Item Price",
                                                     "Total Purchase Value"]]

# Identify the most popular items
popular_items = financial_analysis_items.head()

# Clean up the formatting of the summary data frame
popular_items.style.format({"Item Price": "${:.2f}",
                            "Total Purchase Value": "${:.2f}"})

C:\Users\Ray\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'Item ID' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  import sys

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Create data frames to hold the purchasing data for each item
item_revenue = pd.DataFrame(purchase_data.groupby("Item ID")["Price"].sum())
item_purchases = pd.DataFrame(purchase_data.groupby("Item ID")["Item ID"].count())

# Sort the revenue data frame from greatest to lowest total purchase value
item_revenue.sort_values("Price", ascending = False, inplace = True)

# Merge the data frames to create the summary data frame
item_revenue = pd.merge(item_revenue, item_purchases, left_index = True, right_index = True)
financial_analysis_items = pd.merge(item_revenue, item_count, left_index = True, right_on = "Item ID")

# Rename the column headers
financial_analysis_items.rename(columns = {"Item ID_x": "Purchase Count",
                                           "Price_y": "Item Price",
                                           "Price_x": "Total Purchase Value"}, inplace = True)

# Remove the unnecessary columns
financial_analysis_items = financial_analysis_items[["Item ID",
                                                     "Item Name",
                                                     "Purchase Count",
                                                     "Item Price",
                                                     "Total Purchase Value"]]

# Identify the most profitable items
profitable_items = financial_analysis_items.head()

# Clean up the formatting of the summary data frame
profitable_items.style.format({"Item Price": "${:.2f}",
                               "Total Purchase Value": "${:.2f}"})