In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests
import sys

!{sys.executable} -m pip install pymongo
import pymongo

Requirement already satisfied: pymongo in c:\users\ray\anaconda3\lib\site-packages (3.7.2)

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# NASA Mars News
news_url = 'https://mars.nasa.gov/news/'

In [4]:
response = requests.get(news_url)

In [5]:
soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
results = soup.find_all('div', class_='slide')[0]
news_title = results.find('div', class_='content_title').a.text
news_p = results.find('div', class_='rollover_description_inner').text

print(f'News Title: {news_title}')
print(f'Paragraph Text: {news_p}')

News Title:
NASA's InSight Places First Instrument on Mars

Paragraph Text:
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [7]:
# JPL Mars Space Images - Featured Image
images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [8]:
browser.visit(images_url)

In [9]:
browser.click_link_by_partial_text('FULL IMAGE')

featured_image = browser.find_by_css('a.fancybox-expand')

In [10]:
soup = BeautifulSoup(browser.html, 'html.parser')

In [11]:
image_url = soup.find('img', class_='fancybox-image')['src']
featured_image_url = f'https://www.jpl.nasa.gov{image_url}'

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18907_ip.jpg

In [12]:
# Mars Weather
weather_url = 'https://twitter.com/marswxreport?lang=en'

In [13]:
response = requests.get(weather_url)

In [14]:
soup = BeautifulSoup(response.text, 'html.parser')

In [15]:
tweet_text = soup.find_all('div', class_='tweet')[0]
mars_weather = tweet_text.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text

print(f'Tweet Text: {mars_weather}')

Tweet Text: Sol 2288 (2019-01-12), high -7C/19F, low -68C/-90F, pressure at 8.23 hPa, daylight 06:45-18:55pic.twitter.com/Or8q1l3tka

In [16]:
# Mars Facts
facts_url = 'http://space-facts.com/mars/'

In [17]:
facts_df = pd.read_html(facts_url)
facts_df[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
facts_transformed = facts_df[0]

facts_transformed.columns = ['Parameter', 'Value']
facts_transformed.set_index(['Parameter'])

                                              Value
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
facts_html = facts_transformed.to_html()

facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameter</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'